mixin card(data)
	each val in data
		div(class='card')
			div(class="rating _"+val.starsQuantity)
			.title= val.header
			p= val.description
			.prices
				.oldPrice= val.oldPrice
				.newPrice= val.newPrice
mixin navbar(some)
	ul(class='menu')
		each val in some
			li
				a(href="#"+val, title=val)= val
mixin stage
	div.stage
		h4 Lorem ipsum dolor sit
		p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
mixin post(postContent)
	each val in postContent
		div(id="post"+val.postNumber, class="post")
			.postContent
				.journalIcon
				p.title= val.title
				h4!= val.header
				p= val.description
				p.number= val.postNumber
mixin images(photos)
	each val in photos
		img(src="./img/"+val.name, alt=val.alt, id=val.id)
mixin svgicon(spriteName, data)
	each val in data
		div
			svg.icon
				use(xlink:href="./img/"+spriteName+"#"+val)
mixin blockquote(bq)
	each val in bq
		blockquote
			p= val.text
			.bqfooter
				img(src="./img/"+val.photoname, alt=val.photoname)
				cite
					a(href=val.href, title=val.href)
						b= val.name
						|#{val.profession}
mixin socials(spriteName, data)
	each val in data
		div
			a
				svg.icon
					use(xlink:href="./img/"+spriteName+"#"+val)